/* Modern CSS Reset - https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Modern CSS Reset - END */

a:link {
  text-decoration: none; 
color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active { 
  text-decoration: none;
  color: white;
}

/* Reset Complete! */

body {
    font-family: 'PT Sans', sans-serif;
}

.loader {
  background-color: #63C7A2;
  color: white;
  height: 100vh;
  width: 100vw;
  /* display: none; */
}

.loader-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #63C7A2;
  /* display: none; */
}

.main-map {
  display: none;
}

#sidebar {
  margin-top: 0.5%;
  margin-left: 0.5%;
  height: 98%;
  width: 80px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #1C1D43;
  overflow-x: hidden;
  color: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.38); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.38);
}

#sidebar a {
  display: block;
  text-align: center;
  padding: 16px 16px 16px 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px; 
  border-bottom: 1px solid #27285c;
}

.sidebar-bottom {
  border-top: 3px solid #27285c !important;
  background-color: #1C1D43;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.sidebar-top {
  border-bottom: 3px solid #27285c !important;
}

.sidebar-btn:hover {
  background-color: #63C7A2;
}

.active {
 background-color: #2b2d66;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#map {
    height: 100vh;
    background-color: #6451db;
    z-index: 5;
}